#heading1 {
    color: aquamarine;
}

.heading {
    color: hotpink;
}

div section h2 {
    color: orange;
}

p, a, article {
    color: teal;
}

/* footer div section article {
    color: chocolate;
} */




